__pycache__
*.o
build
cmake/sys.cmake.ext
*.png
*.dat
*.txt
*.data
__pycache*
*egg-info*
build/*
dist/*
docs/*
.local/*
*.so
*.so.*
*.vtk
init_config*.data
output/
*.exadis
*.log
slurm-*.out
slurm-*.err
output*/